.css-1t6c9ts{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

/* .MuiBox-root Button{
  color: #6a1616;

  font-size: 0.88rem;
  font-weight: 500;
}

.MuiBox-root Button:hover {
  color:#95d0a2;

  font-size: 0.9rem;

} */

